<!DOCTYPE html>
{% extends 'base.html' %}
{% block main_area %}
<script>
    function verify() {
        verifyAnswer = document.getElementById("verifyAnswer").value;
        answer = document.getElementById("answer").value;
        if (verifyAnswer === answer) {
            document.getElementById("verifyForm").submit();
        } else {
            alert("본인인증 질문에 대한 답이 틀렸습니다.");
            }
    }

</script>

{% if pk %}
<form id="verifyForm" action="{% url 'common:verify' pk %}" method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    본인인증을 위한 질문에 답하여주세요<br>
    {{question}}
    <div>
        <input type="hidden" id="answer" name="answer" value="{{answer}}">
        <input type="text" id="verifyAnswer" name="verifyAnswer">
        <button type="button" id="answerSubmit" onclick="verify();">확인</button>
    </div>
</form>
{% else %}
<div id="error_message">
    {{error_message}}
</div>
{% endif %}

{% endblock %}