<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'images/icons/favicon.ico' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_main.css' %}">

    <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <script>
            function verify() {
                verifyAnswer = document.getElementById("verifyAnswer").value;
                answer = document.getElementById("answer").value;
                if (verifyAnswer === answer) {
                    document.getElementById("verifyForm").submit();
                } else {
                    $('#wrongAnswerModal').modal('show');
                    }
            }
        </script>
            {% if pk %}
            <form name="verifyForm" id="verifyForm" action="{% url 'common:verify' pk %}" method='post'>
                {% csrf_token %}
                {% include "form_errors.html" %}
                <span class="login100-form-logo">
						<i class="zmdi zmdi-landscape" onclick="location.href='/'"></i>
					</span>

                <span class="login100-form-title p-b-34 p-t-27">
                    본인인증을 위한 질문에 답하여주세요<br/>
                    {{question}}
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Enter Answer">
                    <input class="input100" type="hidden" name="answer" placeholder="Answer" id="answer"
                           value="{{answer}}">
                    <input class="input100" type="text" name="verifyAnswer" placeholder="Verify Answer" id="verifyAnswer"?

                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="button" onclick="verify();" class="login100-form-btn mr-3">
                        확인
                    </button>
                </div>
            </form>
            {% else %}
            <div id="error_message">
                {{error_message}}
            </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="modal fade" id="wrongAnswerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">본인인증 실패</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                본인인증 질문에 대한 답이 틀렸습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>

<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>

<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>

<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>

<!--===============================================================================================-->
<script src="{% static 'js/login_main.js' %}"></script>

</body>
</html>

