{% extends 'base.html' %}
{% block main_area %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div style = "padding-left:200px; padding-top:30px;">
<div class="row">
    <h1>수강취소완료</h1>

    <div class="col-lg-9 mt-0 pl-5">
        <hr class="mb-4">
        <div class="row">
          <div class="row2"><a href="{% url 'my_page:my_page' %}" class="btn btn-outline-success float-right my-4">마이페이지</a>
          <a href="{% url 'my_page:my_lecture' %}" class="btn btn-outline-success float-right my-4">수강강의목록</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}