{% extends 'base.html' %}
{% block title %}My Page - Concerned{% endblock %}
{% block main_area %}
{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
<h1>관심강의목록</h1>
<section>
    <div class="row">
        {% for concerned_lecture in concerned_lectures %}
        <div class="row2 ml-2"><a href="{{ concerned_lecture.get_absolute_url }}" class="text-success"><h3>강좌명: {{concerned_lecture.class_name}}</h3></a></div>
        <div class="row2 ml-3">과목: {{concerned_lecture.subject}}</div>
        <div class="row2 ml-3">레벨: {{concerned_lecture.level}}</div>
        <div class="row2 ml-3">수강기간: {{concerned_lecture.period}}</div>
        <div class="row2 ml-3">필요이수과목: {{concerned_lecture.pre_ready}}</div>

        <div class="add-to-wishlist">
            <form action = "{% url 'my_page:lecture_concern' concerned_lecture.id %}" method="post">
                {% csrf_token %}
                <h6><i class="fas fa-heart fa-lg" style="color:#ed4956;"></i>
                    <button type="submit" class="btn btn-link text-dark text-decoration-none">CANCEL WISHLIST</button></h6>
            </form>
        </div>
        <hr class="mb-4">
        {% endfor %}
    </div>
</section>

{% endblock %}