{% extends 'base.html' %}
{% block main_area %}

{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
<h1>수강강좌목록</h1>
<section class="" id="my_lecture">
    <div class="row">
        {% for lecture in lectures %}

            <div class="row2 ml-2"><a href="{{ lecture.get_absolute_url }}"> <h3>강좌명:  {{lecture.class_name}}</h3></a></div>
            <div class="row2 ml-3">과목: {{lecture.subject}}</div>
            <div class="row2 ml-3">레벨: {{lecture.level}}</div>
            <div class="row2 ml-3">수강기간: {{lecture.period}}</div>
            <div class="row2 ml-3">내용: {{lecture.content}}</div>


            <a href="#" class="btn btn-primary float-right my-4 ml-3" data-toggle="modal" data-target="#exampleModal2" style="width:80%; max-width:100px">수강취소</a>

                <hr class="mb-4">
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">수강 취소</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            수강취소를 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'my_page:cancel_lecture' lecture.id %}"><button type="button" class="btn btn-success">취소</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">뒤로가기</button>
                        </div>
                    </div>
                </div>
                </div>
        {% endfor %}
      </div>
</section>
                <div class="row2"><a href="{% url 'lecture:index' %}"><div class="col"><button type="button">강의목록보러가기</button></div></a></div>


{% endblock %}

