{% extends 'base.html' %}

{% block main_area %}
<div class="row">
    <section id="my_page">
      <h3 id="profile">내 정보</h3>
      <hr class="mb-4">
      <div class="row">
        <figure class="col-4 mr-8 profile"></figure>
        <div class="col-10">
            <h3 class="row">이름: {{user.last_name}}{{user.first_name}}</h3>
            <span class="row position">아이디: {{user.username}}</span><br>
            <span class="row position">Email: {{user.email}}</span><br>
        </div><br>
        <div class="col"><a href="{% url 'my_page:update' %}"><button type="button">정보 수정</button></a></div>
    </section>

    <!-- 강의 목록 -->
    <section id="my_lecture">
      <h3>수강 강의목록</h3>
      <hr class="mb-4">
        <div class="my_lecture">
            {% for lecture in lectures %}
              <div class="col-30 col-md-30 col-lg-30 mb-10 mb-lg-8">
                <div class = "">
                    <div class="row"><h2>강좌명:  {{lecture.class_name}}</h2></div>
                    <div class="row">과목: {{lecture.subject}}</div>
                    <div class="row">세부과목: {{lecture.detail_subject}}</div>
                    <div class="row">수강기간: {{lecture.date}}</div>
                    <div class="row">내용: {{lecture.content}}</div>
                </div>
              </div>
            {% endfor %}
        </div>
        <div class="row2"><a href="{% url 'my_page:my_lecture' %}"><div class="col"><button type="button">상세보기</button></a></div><br>
        <div class="row2"><a href="{% url 'lecture:index' %}"><div class="col"><button type="button">수강신청</button></a></div><br>
    </section>

    <section id="user_delete">
        <form action= "{% url 'my_page:delete' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="회원탈퇴" class="btn btn-danger">
        </form>
    </section>





</div>
{% endblock %}