{% extends 'base.html' %}
{% block main_area %}
{% load static %}

<div class="row">
    <section id="my_question">
      <h2 id="question">Question</h2>
      <hr class="mb-4">
      <div class="row">
        <figure class=""></figure>
        <div class="col-8">
            {% for my_question in my_questions %}
            <h5 class="row"><a href="{{ my_question.get_absolute_url }}">{{my_question.subject}} / {{my_question.create_date}}</a></h5>
            {% endfor %}
        </div><br>
      </div>
    </section>

    <section id="my_answer">
      <h2 id="answer">Answer</h2>
      <hr class="mb-4">
      <div class="row">
        <figure class=""></figure>
        <div class="col-8">
            {% for my_answer in my_answers %}
            <h5 class="row"><a href="{{ my_answer.get_absolute_url }}">{{my_answer.content}} / {{my_answer.create_date}}</a></h5>
            {% endfor %}
        </div><br>
      </div>
    </section>

    <section id="my_comment">
      <h2 id="comment">Comment</h2>
      <hr class="mb-4">
      <div class="row">
        <figure class=""></figure>
        <div class="col-8">
            {% for my_comment in my_comments %}
            <h5 class="row"><a href="{{ my_comment.get_absolute_url }}">{{my_comment.content}} / {{my_comment.create_date}}</a></h5>
            {% endfor %}
        </div><br>
      </div>
    </section>
</div>

{% endblock %}