{% extends 'base.html' %}
{% block main_area %}
<form method="post">
  {% csrf_token %}
  <div style = "padding-left:50px; padding-top:50px;">
    <h1>Update</h1>
    <hr>
    <form action = "" method = "POST">
      {% csrf_token %}
      아이디: {{user.username}} <br><br>
      이름: {{user.first_name}}{{user.last_name}} <br><br>
      이메일: <input type="email" class="form-control" id="email" name="email" value="{{user.email}}"><br><br>

      <input class = "btn btn-primary" type = "submit" value = "수정">
      <div></div><a href="{% url 'home' %}" ><div class="col"><button type="button">메인페이지</button></a></div>
    </form>
  </div>
</form>
{% endblock %}