<!DOCTYPE html>
{% extends 'base.html' %}
{% block main_area %}
<div>
    <h1>
       <b>Contect Us</b>
    </h1>
</div>

<div>
    <h3>Contact</h3>
    <div>
        <b>조규원</b><br>
        email: kwdc0302@gmail.com
        <br>
        phone: 010-0000-0000
    </div>
</div>
<br>
<div>
    <div id="map" style="width:300px;height:200px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=68872f2c22daa56457ef3993c047bd66&libraries=services"></script>
    <script>
		let mapContainer = document.getElementById('map');
		let mapOption = {
			center: new kakao.maps.LatLng(37.503959655762,127.04273986816),
			level: 5
		};

		let map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커가 표시될 위치입니다
        var markerPosition  = new kakao.maps.LatLng(37.503959655762,127.04273986816);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

	</script>
    주소: 서울 강남구 언주로 508 서울상록빌딩 10층~17층 (임의로 멀티캠퍼스 본사의 주소를 넣었습니다)
</div>
{% endblock %}