<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CURATION IN SW EDUCATION</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'images/unedulogo.png' %}" rel="icon">
    <link href="{% static 'images/unedulogo.png' %}" rel="unedulogo">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'base/style.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/responsive.css' %}">
</head>
<body>
{% include 'navbar.html' %}

<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Curation in SW Education</h1>
        <h2>What we curate is more important than what we learn</h2>
        <a href="#about" class="btn-get-started"><i class="bx bx-chevrons-down"></i></a>
    </div>
</section>
<main id="main">
    <section id="about" class="about" name="about">
        <div class="container">
            <div class="row no-gutters">
                <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="content">
                        <h3>The world's most convenient
                            curation in SW education platform</h3>
                        <p class="text-white-50">Do you want to be a Software expert? On this platform, a SW professiona will be able to curate you out of the many SW-related classes on the Internet.</p>
                        <a href="{% url 'common:signup' %}" class="about-btn">Join us <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-7 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-receipt"></i>
                                <h4 class="text-white">Python Program for Business Automation</h4>
                                <p>Use Python to achieve your job automation dream.</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-cube-alt"></i>
                                <h4 class="text-white">Training programs for interactive web developers</h4>
                                <p>Meet selected design courses for the next generation of web designers/developers</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-images"></i>
                                <h4 class="text-white">Image analysis using AI</h4>
                                <p>Use image analysis function to make various products.</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                <i class="bx bx-shield"></i>
                                <h4 class="text-white">SW Training for Information Security</h4>
                                <p>The core of the fourth industrial revolution is the information and communication security sector. Be a security expert in advance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
            <div class="text-center">
                <h3>Call To SW Education</h3>
                <br/>
                <h6 class="text-white"> Do you want to become a SW expert in a short time? </h6>
                <h6 class="text-white">Meet free coding programs selected by the SW Education Curator every day!</h6>
                <br/>
                <a class="cta-btn" href="/lecture/">Explore</a>
            </div>
        </div>
    </section>

    <section id="services" class="services">
        <div class="container">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Services</h2>
                <p>Our company reduces the time you spend searching for software classes.</p>
                <p>Get free coding-related training programs selected by SW/IT professionals now!</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Cloud Computing for Business Leaders</a></h4>
                        <p class="description">Be the leader of the information and communication revolution through cloud technology development classes.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Real-Time Analytics with Apache Storm</a></h4>
                        <p class="description">Business automation technology classes and provide code for free.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Time Series Forecasting</a></h4>
                        <p class="description">Reduce your time to become an IT professional with free software-related programs and community information.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="/qna/">Community</a></h4>
                        <p class="description">Get the best training with AI automatic search technology and customized optimization for free</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="team">
        <div class="container">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Team</h2>
                <p>We are always ready.</p>
                <p>We are the world's first software professional education curation platform operators.</p>
                <p>Talk to experienced IT professionals about your future career today!</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="{% static 'images/team/kimkun.png' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Kim Keon Woo</h4>
                            <span>Developer</span>
                            <div class="social">
                                <a href="https://github.com/kwkim95"><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="150">
                        <div class="pic"><img src="{% static 'images/team/chang.png' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Chang Yun Jin</h4>
                            <span>Interactive Web Developer</span>
                            <div class="social">
                                <a href="https://github.com/jaimyisnice"><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="{% static 'images/team/cho.png' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Cho Kyu Won</h4>
                            <span>Developer</span>
                            <div class="social">
                                <a href="https://github.com/kcho32"><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="{% static 'images/team/sung.png' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Sung Jae Yun</h4>
                            <span>Developer</span>
                            <div class="social">
                                <a href="https://github.com/sujayo1212"><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="{% static 'images/team/kimmyung.png' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Kim Myung Chan</h4>
                            <span>Developer</span>
                            <div class="social">
                                <a href="https://github.com/chancharn"><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact section-bg">
        <div class="section-title" >
            <h2 style="color:#088A85">Contact</h2>
        </div>
        <div id="map" style="width: 100%; height: 445px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=68872f2c22daa56457ef3993c047bd66&libraries=services"></script>
        <script>
                    let mapContainer = document.getElementById('map');
                    let mapOption = {
                        center: new kakao.maps.LatLng(37.503959655762,127.04273986816),
                        level: 5
                    };

                    let map = new kakao.maps.Map(mapContainer, mapOption);

                    // 마커가 표시될 위치입니다
                    var markerPosition  = new kakao.maps.LatLng(37.503959655762,127.04273986816);

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map);

                </script>
        <!-- Map Area End -->
        <!-- Address Information Area Start -->
        <div class="address-info-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="address-single">
                            <div class="all-adress-info">
                                <div class="icon">
                                    <span><i class="fa fa-map-marker"></i></span>
                                </div>
                                <div class="info">
                                    <h3>ADDRESS</h3>
                                    <p>508, Eonju-ro, Gangnam-gu,</p>
                                    <p>Seoul, Republic of Korea</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="address-single">
                            <div class="all-adress-info">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="info">
                                    <h3>E-MAIL</h3>
                                    <p>vkbk62@gmail.com</p>
                                    <p>https://www.multicampus.com/</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 hidden-sm">
                        <div class="address-single">
                            <div class="all-adress-info">
                                <div class="icon">
                                    <span><i class="fa fa-user-plus"></i></span>
                                </div>
                                <div class="info">
                                    <h3>PHONE</h3>
                                    <p>+(02)-1544-9001</p>
                                    <p>+(02)-3429-5114</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Address Information Area End -->
        <!-- Contact Form Area Start -->
        <div class="contact-form-area">
            <div class="container">
                <div class="about-title">
                    <h3 style="color:#088A85">LEAVE A MESSAGE</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="{% url 'common:customer_message' %}" method="post" class="messageForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="contact-form-left">
                                        <input type="text" name="subject" id="subject" placeholder="Subject">
                                        <input type="text" name="name" id="name" placeholder="Name">
                                        <input type="email" name="email" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="contact-form-right">
                                        <div class="input-message">
                                            <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                            <input type="submit" value="SEND" name="submit" id="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Form Area End -->
    </section><!-- End Contact Section -->

</main><!-- End #main -->
{% include 'footer.html' %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>