<header class="lead-demo shadow ">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="assets/images/logo.svg">Uneducated System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leadUIDemoNav-1"
                    aria-controls="leadUIDemoNav-1" aria-expanded="false" aria-label="Toggle navigation">
                <i data-feather="menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="leadUIDemoNav-1">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/lecture/">강의</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">게시판</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'common:logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_page:my_page' %}"> My Page</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'common:login' %}" >Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'common:signup' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
