{% load static %}

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1 class="text-light"><a style="font-size:28px; font-weight:bold;" href="/"><span>UneducatedSystem</span></a></h1>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <a class="nav-link " href="/lecture/">Services</a>
                <a class="nav-link scrollto" href="/qna/">Community</a>
                {% if user.is_authenticated %}
                <a class="nav-link scrollto" href="{% url 'common:logout' %}">Log Out</a>
                <a class="nav-link scrollto" href="{% url 'my_page:my_page' %}">My Page</a>
                {% else %}
                <a class="nav-link scrollto" href="{% url 'common:login' %}">Sign In</a>
                <a class="nav-link scrollto" href="{% url 'common:signup' %}">Sign Up</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>