{% extends 'base.html' %}
{% block main_area %}

<script>
    function search(){
        let searchValue = document.getElementById('searching').value.trim();
        if(searchValue.length > 1){
            location.href="/lecture/search" + searchValue + "/";
        }
        else{
            alert('검색어(' + searchValue + ')가 너무 짧습니다.');
        }
    };
</script>
<div class="row">
    <!-- Sidebar-->
    <div class="border-end col-md-3 col-lg-2" id="sidebar-wrapper">
        <div class="shop-widget" id="categories-card">
            <div class="shop-widget-top">
                <aside class="widget widget-categories">
                    <h2 class="sidebar-title text-center">
                        Category
                    </h2>
                    <ul>
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            <a href="/lecture/">
                                전체
                            </a>
                        </li>
                        {% for c in categories %}
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            <a href="{{ c.get_absolute_url }}">
                                {{ c }}
                            </a>
                        </li>
                        {% endfor %}
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            <a href="/lecture/category/no_category">미분류</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <form id="rescan" name="rescan" action="{% url 'common:searched_lecture' %}" method="post">
                {% csrf_token %}
				{% include "form_errors.html" %}
                검색<br>
                <input type="hidden" id="term_list" name="term_list" value="{{term_list}}">
                <input type="text" id="sub_term" name="sub_term" style="width:100%; max-width:180px"><br>
                <div class="widget-buttom">
                    <input type="submit" value="검색">
                </div>

            </form>
        </div>
    </div>
    <div class="album py-5 col-md-9 col-lg-10" id="main_area">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for l in lecture_list %}
            <a href="{{ l.get_absolute_url }}">
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        {% if l.lecture_image %}
                        <img class="card-img-top" src="{{ l.lecture_image.url }}" alt="Card image cap" width="100px" height="250px">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text"> {{ l.class_name }}</p>
                            <div class="d-flex justify-content-between align-items-right">
                                <small class="text-muted">{{ l.student }}</small>
                                <small class="text-muted float-right">{{ l.level }} </small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% if user.is_staff %}
<a href="{% url 'lecture:lecture_create' %}" class="btn btn-primary float-right">강의 등록</a>
{% endif %}
<div class="pagination justify-content-center">
    <!--    {% if page_obj.has_previous %}-->
    <!--    <a class="listbutton" href="?page=1"><button type="button" class="btn btn-dark">첫 번째 페이지</button></a>&nbsp&nbsp&nbsp-->
    <!--    {%endif%}-->
    <!--    {% if page_obj.has_previous %}-->
    <!--    <a href="?page={{page_obj.previous_page_number}}"><button type="button" class="btn btn-dark">이전</button></a>&nbsp&nbsp&nbsp-->
    <!--    {%endif%}-->
    {% for page_number in page_obj.paginator.page_range %}
    {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
    {% if page_number == page_obj.number %}
    <div class="page-item active" aria-current="page">
        <a class="page-link btn btn-white" href="?page={{ page_number }}">{{ page_number }}</a>
    </div>
    {% else %}
    <div class="page-item">
        <a class="page-link btn btn-white" href="?page={{ page_number }}">{{ page_number }}</a>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!--    {% if page_obj.has_next %}-->
    <!--    <a href="?page={{page_obj.next_page_number}}"><button type="button" class="btn btn-dark">다음</button></a>&nbsp&nbsp&nbsp-->
    <!--    {%endif%}-->
    <!--    {% if page_obj.has_next %}-->
    <!--    <a class="listbutton" href="?page={{page_obj.paginator.num_pages}}"><button type="button" class="btn btn-dark">마지막 페이지</button></a>-->
    <!--    {%endif%}-->
</div>
{% endblock %}

