/* Wide Desktop: 1170 px  */
@media (min-width: 1170px) and (max-width: 1366px) {
.container {
    width: 1170px;
}
.nivo-caption {
  top: 160px;
}
.layer-1 h2.title-1 {
  font-size: 70px;
}
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

.layer-1 h2.title-1 {
  font-size: 60px;
}
.layer-2 p.title-2 {
  padding: 25px 24% 35px;
}
.layer-4 {
  margin-top: 55px;
}
.nivo-caption {
  top: 80px;
}

.section-title::after {
  left: 647px;
}
.section-title::before {
  right: 648px;
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.mainmenu nav ul#nav li a {
  padding: 20px 10px;
}    
.mainmenu nav ul#nav li {
  margin: 0 0 0 5px;
} 
.header-logo > a {
  padding: 20px 0;
}    
.header-right li {
  padding: 20px 4px;
}    
.layer-1 h2.title-1 {
  font-size: 50px;
}    
.layer-2 p.title-2 {
  padding: 25px 13% 35px;
}    
.nivo-caption {
  top: 50px;
}  
.layer-4 {
  margin-top: 30px;
}    
.layer-4 .title-4 input {
  height: 45px;
  line-height: 45px;
}    
.layer-4 form.title-4 button {
  height: 45px;
}    

.contact-form-left > input:last-child {
  margin-bottom: 20px;
}

.breadcrumbs {
  padding: 110px 0;
}    



.p-details-tab {
  margin-top: 40px;
}    
.section-padding {
  padding: 60px 0;
}    

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px} 
.mobile-menu-area {
  display: block;
}    

.header-logo > a {
  padding: 15px 0;
}    
.header-right li {
  padding: 15px 5px;
}    
.nivo-caption {
  top: 10px;
}  
.layer-1 h2.title-1 {
  font-size: 25px;
}
.layer-2 p.title-2 {
  display: none;
}
.layer-3 {
  padding: 20px 0;
}
.layer-4 form.title-4 button {
  font-size: 14px;
  height: 30px;
  line-height: 22px;
  width: 35px;
}    
.nivo-controlNav {
  display: none;
} 
.layer-3 a.title-3 {
  padding: 8px 40px;
}    
.layer-4 .title-4 input {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding-left: 9px;
}
.layer-4 {
  margin-top: 0;
  margin-left: -26px;
}
.nivo-directionNav a {
  top: 35%;
}   

.section-title::before {
  height: 54px;
  right: 54px;
}    
.section-title::after {
  height: 54px;
  left: 54px;
}   
.section-title {
  font-size: 16px;
}    
.indicator-style.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 5px;
}
.indicator-style.owl-theme .owl-controls .owl-buttons div {
  left: 5px;
}

.counter-info > h3 {
  font-size: 16px;
}    
.fcount span.counter {
  font-size: 40px;
}
.blog-area > p {
  margin: 10px 0;
}

.btn-search {
  float: right;
  height: 35px;
  margin-top: 10px;
}

.breadcrumbs {
  padding: 110px 0;
}

.address-single {
  margin-bottom: 20px;
}
.contact-form-left > input:last-child {
  margin-bottom: 20px;
}

}
.section-title2 > h2 {
  font-size: 25px;
}
.section-padding {
  padding: 40px 0;
}








  
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.section-title::before {
  right: 140px;
}
.section-title::after {
  left: 140px;
}
.single-product-image-inner .product-tabs img {
  width: 125px;
}
.blog-area > p {
  margin: 20px 0;
}
.blog-info a h2 {
  font-size: 17px;
}
.blog-info-bottom {
  padding: 0 10px;
}
.blog-info-bottom {
  padding: 0 5px;
}
.single-banner img {
  width: 100%;
}
.layer-2 p.title-2 {
  display: block;
  padding: 10px 30px;
}
}
 
